Babel==2.1.1
Beaker==1.7.0
DateTime==4.0.1
Django==1.8.5
DotConfig==0.1.1
Jinja2==2.8
M2Crypto==0.22.3
Mako==1.0.2
MarkupSafe==0.23
MySQL-python==1.2.3
PIL==1.1.7
Paste==1.7.5.1
PyXB==1.2.3
PyYAML==3.11
SQLAlchemy==1.0.9
WebOb==1.3.1
amqp==1.4.7
ansible==1.9.4
anyjson==0.3.3
appdirs==1.4.0
argparse==1.4.0
billiard==3.3.0.20
cachetools==1.1.5
celery==3.1.18
cffi==1.2.1
cliff==1.15.0
cmd2==0.6.8
cryptography==1.0.2
debtcollector==0.10.0
decorator==3.4.0
django-bootstrap-form==3.1
django-extensions==1.5.5
django-filter==0.10.0
djangorestframework==3.2.4
djangosaml2==0.10.0
ecdsa==0.10
elasticsearch==1.6.0
enum34==1.0.4
functools32==3.2.3.post2
futures==3.0.3
gnureadline==6.3.3
guppy==0.1.10
hidapi==0.7.99.post8
httplib2==0.8
idna==2.0
ipaddress==1.0.14
iso8601==0.1.10
jsonpatch==1.11
jsonpointer==1.9
jsonschema==2.5.1
keystoneauth1==1.2.0
kombu==3.0.28
libxml2-python==2.9.2
lxml==3.2.4
monotonic==0.4
msgpack-python==0.4.6
mysql-connector-python==1.1.4
netaddr==0.7.18
netifaces==0.10.4
os-client-config==1.9.0
oslo.config==2.6.0
oslo.i18n==2.7.0
oslo.serialization==1.11.0
oslo.utils==2.7.0
paramiko==1.12.2
pbr==1.8.1
prettytable==0.7.2
pyOpenSSL==0.15.1
pyXMLSecurity==0.13
pyasn1==0.1.8
pyasn1-modules==0.0.6
pyconfig==2.0.0
pycparser==2.14
pycrypto==2.6.1
pydot==1.0.28
pygraphviz==1.2
pyparsing==2.0.3
pysaml2==0.4.3
pysqlite==2.8.1
python-cinderclient==1.4.0
python-glanceclient==1.1.0
python-heatclient==0.8.0
python-keystoneclient==1.8.1
python-ldap==2.4.19
python-memcached==1.48
python-neutronclient==3.1.0
python-novaclient==2.32.0
python-openstackclient==1.8.0
python-swiftclient==2.7.0
python-u2flib-host==2.2.1
python-u2flib-server==3.2.0
pytz==2014.10
repoze.who==1.0.18
requests==2.7.0
simplejson==3.4.0
six==1.9.0
ssh==1.8.0
stevedore==1.9.0
u2fval==0.9.1
u2fval-client==1.0.1
ujson==1.33
unicodecsv==0.14.1
urllib3==1.10.4
virtualenv==13.1.2
warlock==1.2.0
wrapt==1.10.5
wsgiref==0.1.2
zope.interface==4.0.5
