<!DOCTYPE html>
<html>
{% block header %}
{% include 'header.html' %}
{% endblock %}
<body>
  <div class="container">
  {% block navbar %}
  <!-- navbar -->
  {% include 'navbar.html' %}
  {% endblock %}
  {% block breadcrumb %}
  <ol class="breadcrumb">
      <li><a href="{% url 'frontpage' %}"><span class="glyphicon glyphicon-home"></span></a></li>
  </ol>
  {% endblock %}
  {% block error %}
  {% include 'errors.html' %}
  {% endblock %}
  {% block content %}
      <div class="jumbotron" id="gmap">
        <h1>Google Maps Here</h1>
        <p class="lead">Vstavi google maps :)</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">TODO</a></p>
      </div>

      <div class="row marketing">

        {% if request.user.is_staff %}

        <div class="panel panel-default">
          <div class="panel-body">
              <a href="{% url 'add_point' %}" class="btn btn-primary" role="button"><i class="fa fa-plus-circle" aria-hidden="true"></i> Dodaj novo lokacijo</a>
          </div>
        </div>

        {% endif %}

        <!--Search box-->
        <input type="search" class="form-control max-width: 80%;" id="input-search" placeholder="Poiščite avtorja">
      </div>
      {% for point in points %}
      {% if forloop.counter0|divisibleby:2 %}
      <!-- row {{ forloop.counter0 }} -->
      <div class="row searchable-container">
      {% endif %}
         <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6 items">
            <div class="thumbnail">
              {% if point.image %}
              <img src="{{ point.image }}">
              {% else %}
              <img src="http://placehold.it/350x350">
              {% endif %}
              <div class="caption">
                <h3><i class="fa fa-user" aria-hidden="true"></i> {{ point.poet }}</h3>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{ point.address }}
                    <span class="pull-right">
                        <img style="width: 50px; height:auto;" src="{{ point.qrcode }}">
                    </span>
                </p>
                <p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ forloop.counter }}">
                      <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                    {% if request.user.is_staff %}
                    <a href="{% url 'edit_point' point_id=point.id%}" class="btn btn-primary" role="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    {% endif %}
                </p>

              </div>
            </div>
          </div>

        <!-- modal {{ forloop.counter }} -->
        <div class="modal fade" id="{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="{{ forloop.counter }}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-user" aria-hidden="true"></i> {{ point.poet }}</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <i class="fa fa-user" aria-hidden="true"></i> Avtor:
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        {{ point.poet }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i>  Naslov:
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        {{ point.address }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <i class="fa fa-pencil" aria-hidden="true"></i> Pesem:
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        {{ point.description }}
                    </div>
                </div>
                <br/><br/>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <i class="fa fa-qrcode" aria-hidden="true"></i> QR Koda:
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <img style="width: 150px; height:auto;" src="{{ point.qrcode }}">
                    </div>
                </div>
                <br/><br/>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <i class="fa fa-picture-o" aria-hidden="true"></i> Slika:
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <img style="width: 300px; height:auto;" src="{{ point.image }}">
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
                <!--<button type="button" class="btn btn-primary">Shrani spremembe</button>-->
              </div>
            </div>
          </div>
        </div>
    {% if forloop.counter|divisibleby:2 %}
    <!-- end row {{ forloop.counter0 }} -->
    </div>
    {% endif %}
    {% endfor %}
    </div>
  {% endblock %}
  {% block footer %}
  {% include 'footer.html' %}
  <!--Javascripts-->
  {% include 'javascripts.html' %}
  {% endblock %}
  </div>
</body>
</html>