<!-- Javascript files -->
{% load staticfiles %}
<!-- Dependencies -->
<script type="text/javascript" src="{% static 'jquery/dist/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/javascript.js' %}"></script>
<script type="text/javascript" src="{% static  'js/p5.js' %}"></script>
<script type="text/javascript" src="{% static  'js/p5.dom.js' %}"></script>
<script type="text/javascript" src="{% static  'js/gmaps.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu3S_3FEvJYOY5N_Y3PtJ-pqEUQbSjUQg&callback=initMap" async defer></script>
