{% load staticfiles %}

<nav class="navbar navbar-default" role="navigation" ng-controller="NavbarController as vm">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#laboratory-nav">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'frontpage' %}"><img style="margin-top: -15px; width:50px; height: 50px;" src="{% static 'images/enomad_logo.png' %}"></a>
    </div> <!-- ./navbar-header -->

    <div class="collapse navbar-collapse" id="laboratory-nav">
      <ul class="nav navbar-nav pull-right">
        <li><a href="" data-toggle="modal" data-target="#about"><i class="fa fa-info-circle" aria-hidden="true"></i> O projektu</a></li>
        <li><a href="http://black2.fri.uni-lj.si/flanker/flanker.apk"><i class="fa fa-android"></i> Prenos aplikacije</a></li>
        {% if user.is_authenticated %}
          <li><a href="#"><i class="fa fa-user"></i> {{ user.first_name }} {{ user.last_name }}</a></li>
          <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Odjava</a></li>
        {% else %}
          <li><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Prijava</a></li>
          <li><a href="{% url 'register' %}"><i class="fa fa-user-plus"></i> Registracija</a></li>
        {% endif %}
      </ul>
    </div> <!-- /.collapse.navbar-collapse -->
  </div> <!-- /.container-fluid -->
</nav>


<!-- modal about -->
<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="about">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><img style="width:50px; height: 50px;" src="{% static 'images/enomad_logo.png' %}"> E-Knjižni nomad</h4>
      </div>
      <div class="modal-body">
        <h3><i class="fa fa-info-circle" aria-hidden="true"></i> O projektu</h3>
        <p>
            Projekt MOBILNI E-KNJIŽNI FLANKER je trajna mobilna instalacija,
            ki se bo odvijala na ljubljanskih ulicah, kjer bo sprehajalec z mobilnim telefonom fotografiral hišo, v kateri je bival pesnik in s tem vstopil v branje
            njegove pesmi. Z izbiro ključne besede iz verzov pa se bo vpisal v točko presečišča pozabe in spomina, ki se bo hkrati prikazovala v galeriji in na spletu.
        </p>
        <h3><i class="fa fa-graduation-cap" aria-hidden="true"></i> Avtorja</h3>
        <p>
            Blaž Divjak
        </p>

        <p>
            Klemen Možina
        </p>

        <h3>
            <i class="fa fa-user-md" aria-hidden="true"></i> Mentorja
        </h3>
        <p>
            Borut Batagelj
        </p>
        <p>
            Srečo Dragan
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
      </div>
    </div>
  </div>
</div>